html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
}

.section-h {
  height: 30vh;
  border-bottom: 1px solid;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-bar ul li a {
  display: flex;
  flex-direction: row;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.nav-bar ul li a:hover {
  background: #f4f4f4;
  font-weight: 500;
  transition: all 4ms;
}
