html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
}

.section-h {
  height: 30vh;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 54;
}

#header-img {
  width: 200px;
  height: 54;
}
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-bar ul li a {
  display: flex;
  flex-direction: row;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.nav-bar ul li a:hover {
  background: #f4f4f4;
  font-weight: 500;
  transition: all 4ms;
}

.Product_Container {
  border: 1px solid;
}

/*** -------------- From container ***/
.form-container {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.form-container form {
  margin: auto;
  width: 70%;
}

.form-container form input {
  border: 1px solid #f4f4f4;
  padding: 8px;
}

form #email {
  width: 60%;
}

form .title-form {
  width: 200px;
  margin: auto;
}
form .inputs {
  width: 70%;
  margin: auto;
  justify-content: center;
  display: flex;
}

form #submit {
  border: 1px solid;
  background: #6f23ff;
  color: #fff;
}

/**** product_prices  *****/

#product_prices {
  margin: 100px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.card {
  width: 220px;
  border: 1px solid #e2dbdb;
  border-radius: 4px;
  background: #fff;
}

.card .card-header {
  border-bottom: 1px solid #e2dbdb;
  padding: 8px;
  text-align: center;
  font-weight: 600;
}

.card .card-content {
  text-align: center;
}
.card .card-content .price {
  font-size: 18px;
}
.card .card-content ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
